<link rel="stylesheet" href="/css/pageNotFound.css">

<div class="container-not">
    <div class="error">
        <h1>404</h1>
        <h2>Pagina no encontrada</h2>
        <p>"Lo siento, la página que estás buscando no existe. Puede que haya sido movida o eliminada.</p>
        <a href="/" class="btn">Volver al inicio</a>
    </div>
</div>