<section class="about section" id="about">
    <div class="about__container container grid">
        <div class="about__data">
            <h2 class="section__title">
                Aprende mas <br>
                acerca de nuestros viajes
            </h2>
            <p class="about__description">
                Todos los viajes alrededor del mundo son una gran placer y felicidad para cualquiera, disfruta los
                lugares de interés cuando viajas por el mundo. Viajar de forma segura y sin preocupaciones, consigue tu
                viaje y Explora los paraísos del mundo.
            </p>
            <a href="/tours" class="button">
                Explorar viajes <i class="ri-arrow-right-line"></i>
            </a>
        </div>
        <div class="about__image">
            <img src="/assets/img/about-beach.jpg" alt="about image" class="about__img">
        </div>
        <div class="about__shadow"></div>
    </div>
</section>