<link rel="stylesheet" href="/css/blog.css">

<section class="home-blog mt-9 container grid" id="home-blog">
    <div class="blog-shadow"></div>
</section>

<div class="post-filter container"></div>

<section class="blog" id="blog">
    <div class="blog-contents" id="post-cards"></div>

    <div id="comment-modal" class="modal hidden">
        <div class="modal-content">
            <span id="close-modal" class="close">&times;</span>
            <div class="comment-area">
                <textarea id="new-comment" placeholder="Escribe tu comentario..."></textarea>
                <button id="submit-comment" class="btn-post">Comentar</button>
            </div>
            
            <h2 class="title-comments">Comentarios sobre la publicación</h2>
            <ul id="comment-list" class="list-comments"></ul>
        </div>
    </div>
</section>

<script src="/js/blog.js"></script>