<link rel="stylesheet" href="/css/success.css">

<section>
    <div class="container-confirm container grid">
        <div class="content">
            <h1>¡Correo de recuperación de contraseña Enviado!</h1>
            <p>El correo de recuperación de contraseña ha sido enviado exitosamente.</p>
            <p>Por favor, revisa tu bandeja de entrada y sigue las instrucciones para restablecer tu contraseña.</p>
            <a href="/login" class="btn-confirm">Volver al inicio de sesión</a>
        </div>
    </div>
</section>