<section class="explore section" id="explore">
    <div class="explore__container">
        <div class="explore__image">
            <img src="/assets/img/explore-beach.jpg" alt="explore image" class="explore__img">
            <div class="explore__shadow"></div>
        </div>

        <div class="explore__content container grid">
            <div class="explore__data">
                <h2 class="section__title">
                    Explora los <br> mejores paraisos
                </h2>

                <p class="explore__description">
                    Explorando paraísos como islas y
                    valles cuando viajar por el mundo es uno de los
                    Las mejores experiencias cuando viajas,
                    te ofrece armonía y paz y tú
                    Podrá disfrutarlo con gran comodidad.
                </p>
            </div>
        </div>
    </div>
</section>