<link rel="stylesheet" href="/css/header.css">

<header class="header" id="header">
    <nav class="container nav">
        <a href="/" class="nav__logo">
            <img src="/assets/img/favicon.png" alt="logo">Cloud Forest Colombia
        </a>

        <div class="nav__menu" id="nav-menu">
            <div style="display: flex; align-items:center; gap:20px;">
                <ul class="nav__list"></ul>
                <a href="/login" class="login__btn" id="auth-button">Ingresar</a>
            </div>

            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-fill"></i>
        </div>
    </nav>
</header>