<section class="home section" id="home">
    <img src="/assets/img/home-bg.jpg" alt="home image" class="home__bg">

    <div class="home__shadow"></div>

    <div class="home__container container grid">
        <div class="home__data">
            <h3 class="home__subtitle">
                Bienvenido a Panta´s Travel
            </h3>
            <h1 class="home__title">
                Explora <br>
                El mundo
            </h1>
            <p class="home__description">
                Vive los viajes explorando el mundo, descubre paraísos, islas, montañas y mucho Más, consigue tu viaje
                ahora.
            </p>
            <a href="/tours" class="button">
                Comienza tu viaje <i class="ri-arrow-right-line"></i>
            </a>
        </div>

        <div class="home__cards grid">
            <article class="home__card">
                <img src="/assets/img/home-trees.jpg" alt="home images" class="home__card-img">
                <h3 class="home__card-title">Chinchina</h3>
                <div class="home__card-shadow"></div>
            </article>

            <article class="home__card">
                <img src="/assets/img/home-lake.jpg" alt="home images" class="home__card-img">
                <h3 class="home__card-title">Olivares</h3>
                <div class="home__card-shadow"></div>
            </article>

            <article class="home__card">
                <img src="/assets/img/home-mountain.jpg" alt="home images" class="home__card-img">
                <h3 class="home__card-title">Nevado</h3>
                <div class="home__card-shadow"></div>
            </article>

            <article class="home__card">
                <img src="/assets/img/home-beach.jpg" alt="home images" class="home__card-img">
                <h3 class="home__card-title">Chorritos</h3>
                <div class="home__card-shadow"></div>
            </article>
        </div>
    </div>
</section>