<section class="home section" id="home">
    <img src="/assets/img/home-bg2.jpg" alt="home image" class="home__bg">

    <div class="home__container container grid">
        <div class="home__data">
            <h3 class="home__subtitle">
                Bienvenido a Cloud Forest Colombia
            </h3>
            <h1 class="home__title">
                Explora <br>
                El mundo
            </h1>
            <p class="home__description">
                Vive los viajes explorando el mundo, descubre paraísos, islas, montañas y mucho Más, consigue tu viaje
                ahora.
            </p>
            <a href="/tours" class="button" style="margin-left: 30px;">
                Comienza tu viaje <i class="ri-arrow-right-line"></i>
            </a>
        </div>
        {{> services}}
    </div>
</section>