<section class="join section">
    <div class="join__container container grid">
        <div class="join__data">
            <h2 class="section__title">
                Tus Aventuras <br>
                comienzan aqui
            </h2>
            <p class="join__description">
                Ponte al día con las últimas novedades
                viajes e información de nuestra parte.
            </p>
            <form class="join__form">
                <input type="email" placeholder="Ingresa tu Email" class="join__input">
                <button class="join__button button">
                    Suscríbete a nuestro boletín
                    <i class="ri-arrow-right-line"></i>
                </button>
            </form>
        </div>
        <div class="join__image">
            <img src="/assets/img/boletin.jpg" alt="join image" class="join__img">
        </div>
        <div class="join__shadow"></div>
    </div>
</section>