<section class="popular section" id="popular">
    <h2 class="section__title">
        Disfruta de la <br>
        belleza del mundo
    </h2>

    <div class="popular__container container grid">
        <article class="popular__card">
            <div class="popular__image">
                <img src="/assets/img/popular-mountain.jpg" alt="popular image" class="popular__img">
                <div class="popular__shadow"></div>
            </div>

            <h2 class="popular__title">
                Montaña plana
            </h2>

            <div class="popular__location">
                <i class="ri-map-pin-line"></i>
                <span>Tarro liso</span>
            </div>
        </article>

        <article class="popular__card">
            <div class="popular__image">
                <img src="/assets/img/popular-forest.jpg" alt="popular image" class="popular__img">
                <div class="popular__shadow"></div>
            </div>

            <h2 class="popular__title">
                Palo seco
            </h2>

            <div class="popular__location">
                <i class="ri-map-pin-line"></i>
                <span>Caldas</span>
            </div>
        </article>

        <article class="popular__card">
            <div class="popular__image">
                <img src="/assets/img/popular-lake.jpg" alt="popular image" class="popular__img">
                <div class="popular__shadow"></div>
            </div>

            <h2 class="popular__title">
                Quebrada de velez
            </h2>

            <div class="popular__location">
                <i class="ri-map-pin-line"></i>
                <span>Por alla es</span>
            </div>
        </article>
    </div>
</section>