<link rel="stylesheet" href="/css/register.css">

<section class="body-register">
    <div class="wrapper">
        <form class="form">
            <h1>Registrarse</h1>
            <div class="input-box">
                <input type="text" name="name" placeholder="Ingrese su nombre" required>
                <i class="ri-user-line"></i>
            </div>
            <div class="input-box">
                <input type="text" name="email" placeholder="Ingrese su correo electronico" required>
                <i class="ri-mail-line"></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Ingrese la contraseña" required>
                <i class="ri-lock-line"></i>
            </div>
            <div class="form-group flex-between">
                <label class="label">
                    Eres un:
                    <select name="role" class="select-field">
                        <option value="usuario">Usuario</option>
                        <option value="guia">Guia</option>
                    </select>
                </label>
                <label class="label">
                    Género:
                    <select name="gender" class="select-field">
                        <option value="">Seleccionar</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="otro">Otro</option>
                    </select>
                </label>
            </div>
            <div class="form-group flex-gap">
                <div class="img-wpp mt">
                    <figure class="image-preview">
                        <img src="https://img.freepik.com/free-photo/cute-leaf-cartoon-illustration_23-2151411202.jpg?t=st=1736541127~exp=1736544727~hmac=6caf1d4eef215a8e80c895ad6f4e4af2fec0ea6c60706de168c31ab7a192776d&w=740"
                            class="preview" alt="Foto de usuario" />
                    </figure>
                </div>
                <div class="img-wpp">
                    <div class="file-upload">
                        <input type="file" name="photo" id="customFile" class="file-input" />
                        <label for="customFile" class="file-label">
                            Subir foto
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Crear Cuenta</button>
            <div class="login-link">
                <p>Ya tienes cuenta? <a href="/login">Ingresar</a></p>
            </div>
        </form>
    </div>
</section>

<script src="/js/register.js"></script>