<h1 style="text-align: center; font-size: 1.7rem; margin-top: 20px" class="container grid">Nuestros Servicios</h1>
<div class="home__cards grid" style="margin-top: -20px;">
    <article class="home__card">
        <img src="/assets/img/home-trees.jpg" alt="home images" class="home__card-img">
        <h3 class="home__card-title" style="display: grid;">Servicio 1
            <span style="font-size: 0.7rem; margin-right: 5px; margin-top:3px">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quia, sit!</span>
        </h3>
        <div class="home__card-shadow"></div>
    </article>

    <article class="home__card">
        <img src="/assets/img/home-lake.jpg" alt="home images" class="home__card-img">
        <h3 class="home__card-title" style="display: grid;">Servicio 2
            <span style="font-size: 0.7rem; margin-right: 5px; margin-top:3px">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quia, sit!</span>
        </h3>
        <div class="home__card-shadow"></div>
    </article>

    <article class="home__card">
        <img src="/assets/img/home-mountain.jpg" alt="home images" class="home__card-img">
        <h3 class="home__card-title" style="display: grid;">Servicio 3
            <span style="font-size: 0.7rem; margin-right: 5px; margin-top:3px">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quia, sit!</span>
        </h3>
        <div class="home__card-shadow"></div>
    </article>

    <article class="home__card">
        <img src="/assets/img/home-beach.jpg" alt="home images" class="home__card-img">
        <h3 class="home__card-title" style="display: grid;">Servicio 4
            <span style="font-size: 0.7rem; margin-right: 5px; margin-top:3px">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quia, sit!</span>
        </h3>
        <div class="home__card-shadow"></div>
    </article>
</div>