<link rel="stylesheet" href="/css/userProfile.css" />

<div class="profile-content" id="profile">
  <h2 class="section__title mt10">Perfil de usuario</h2>
  <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
      <div class="perfil-usuario-portada">
        <div class="perfil-usuario-avatar">
          <img src="https://img.freepik.com/free-photo/cute-leaf-cartoon-illustration_23-2151411202.jpg?t=st=1736541127~exp=1736544727~hmac=6caf1d4eef215a8e80c895ad6f4e4af2fec0ea6c60706de168c31ab7a192776d&w=740" alt="Avatar" />
        </div>
      </div>
    </div>

    <div class="perfil-usuario-body">
      <div class="perfil-usuario-footer ct">
        <ul class="lista-datos"></ul>
      </div>
      <div class="btns-exit">
        <button class="btn-logout logout-button">Cerrar Sesión</button>
        <button class="btn-delete delete-button">Eliminar Cuenta</button>
      </div>
    </div>
  </section>
</div>

<script src="/js/userProfile.js"></script>