<link rel="stylesheet" href="/css/userProfile.css" />

<div class="profile-content mt10" id="profile">
  <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
      <img class="avatar" name="photo" src="" alt="Avatar" id="avatar" />
    </div>

    <div class="perfil-usuario-body">
      <ul class="lista-datos"></ul>
    </div>

    <div class="btns-exit" id="tabs"></div>

    <div id="editModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Editar Mis Datos</h2>
        <form id="editForm" class="editForm">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" placeholder="Nombre" class="file-input" />
          <label for="phone">Teléfono:</label>
          <input type="text" id="phone" name="phone" placeholder="Teléfono" class="file-input" />
          <label for="photo">Foto</label>
          <input type="file" name="photo" id="customFile" class="file-input" />
          <button type="submit" class="save-button">Actualizar Perfil</button>
        </form>
      </div>
    </div>
  </section>
</div>

<script src="/js/userProfile.js"></script>